*{
    font-size: 95%;
    color: black;
}

.dropdown:hover>.dropdown-menu {
    display: block;
    animation-delay: 1s;

}
.dropdown:hover>.custom-select{
    display: block;
    animation-delay: 1s;
}

.dropdown>.dropdown-toggle:active {
    
    pointer-events: none;

}
.dropdown>.custom-select:active{
    pointer-events: none;
}

.li {
    padding: 2%;
} 
